.button-group-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    position: absolute;
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.popup.active {
    opacity: 1;
}
